In [1]:
import pandas as pd
from pandas import Series,DataFrame

###series 的创建
###series 是定长的， 存在两个属性：index 和values, index 默认是0,1,2......，递增的整数序列
###Series 传入的是数组
x1= Series([1,2,3,4])
x2= Series(data=[1,2,3,4], index=['a','b','c','d'])

In [2]:
x1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
###采用字典的方式创建Series, 比如
d={'a':1,'b':2,'c':3,'d':4}
x3=Series(d)
x3

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
###DataFrame 类型数据结构类似数据库表

##### DataFrame 和Series 的关系，可以将DataFrame 看成是由相同索引的Series
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [ ]:
#数据清洗

In [6]:
## 1. 删除DataFrame 中不必要的列或者行
### 1.1 删除列 colums=['Chinese']
df2 =df2.drop(columns=['Chinese'])
df2

            English  Math
ZhangFei         65    30
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90

In [7]:
###1.2 删除行
df2=df2.drop(index=['ZhangFei'])
df2

            English  Math
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90

In [9]:
## 2. 重命名列名 columns, 让列表名更容易识别
df2.rename(columns={'English':'Yingyu'}, inplace=True)

In [ ]:
###去除重复的值
df =df.drop_duplicates() ##去除重复行

In [ ]:
## 4. 格式问题
#### 4.1 更改数据格式
df2['Chinese'].astype('str')
df2['Chinese'].astype(np.int64)

In [ ]:
#### 4.2 删除数据间的空格
df2['Chinese']=df2['Chinese'].map(str.strip)  ##删除左右两边的空格
##删除左边的空格
df2['Chinese']=df2['Chinese'].map(str.lstrip)
##删除右边空格
df2['Chinese']=df2['Chinese'].map(str.rstrip)